aiosmtplib
alembic
annotated-doc
annotated-types
anyio
asyncpg
bcrypt
blinker
cffi
click
cryptography
dnspython
ecdsa
email-validator
fastapi
fastapi-mail
greenlet
h11
httptools
idna
Jinja2
loguru
Mako
MarkupSafe
passlib
pyasn1
pycparser
pydantic
pydantic-settings
pydantic_core
python-dotenv
python-jose
python-multipart
PyYAML
regex
rsa
six
SQLAlchemy
sqlmodel
starlette
typing-inspection
typing_extensions
uvicorn
uvloop
watchfiles
websockets